<div class="container">

  <h1 style="text-align: center;">Nuevo empleado</h1>
  <form class="form-group row">

    <div class="form-group col-md-3">
      <label>Nombre:</label>
      <input type="text" name="nombre" [(ngModel)]="nombre">
    </div>

    <div class="form-group col-md-3">
    <label>Apellido:</label>
    <input type="text" name="apellido" [(ngModel)]="apellido">
  </div>
  <div class="form-group col-md-3">
    <label>Cargo:</label>
    <input type="text" name="cargo" [(ngModel)]="cargo">
  </div>
  <div class="form-group col-md-3">
    <label>Salario:</label>
    <input type="number" name="salario" [(ngModel)]="salario">
  </div>

  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="saveEmployed()">Guardar</button>
  </div>


  </form>
  <br>
  <br>
  <h1>Listado de empleados</h1>
  <div class="row">
    <div class="col">
      <div *ngFor="let item of empleados;let i=index">
       {{i+1}}. {{item.nombre}} {{item.apellido}} {{item.cargo}} {{item.salario}}
      </div>
    </div>
  </div>
</div>
